<phpunit convertNoticesToExceptions="false"
	colors="true">

	<testsuites>
		<testsuite name="Unit">
			<directory suffix="_test.php">./test/</directory>
		</testsuite>
	</testsuites>

	<filter>
		<whitelist processUncoveredFilesFromWhitelist="false">
			<directory suffix=".php">.</directory>
			<file>Stock</file>    
		</whitelist>
	</filter>

</phpunit>
